# Append

In [1]:
import numpy as np

In [11]:
a = np.arange(1,21)

In [12]:
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [13]:
np.append(a,34)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 34])

In [14]:
np.append(a,[35,32])

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 35, 32])

In [15]:
b = a.reshape(5,4)

In [16]:
b

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20]])

In [17]:
np.append(b, 1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20,  1])

In [21]:
np.append(b, [[4,6,7,8]],axis = 0) # adding a new row

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [ 4,  6,  7,  8]])

In [23]:
np.append(b, [[2],[5],[2],[2],[8]], axis = 1) # adding a new column

array([[ 1,  2,  3,  4,  2],
       [ 5,  6,  7,  8,  5],
       [ 9, 10, 11, 12,  2],
       [13, 14, 15, 16,  2],
       [17, 18, 19, 20,  8]])

# insert

In [37]:
np.insert(b, 1,8)

array([ 1,  8,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [38]:
np.insert(b,1,8,axis = 0) # insert a row at 1 position

array([[ 1,  2,  3,  4],
       [ 8,  8,  8,  8],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20]])

In [39]:
np.insert(b,3,5,axis = 1) # insert a column at 3rd position

array([[ 1,  2,  3,  5,  4],
       [ 5,  6,  7,  5,  8],
       [ 9, 10, 11,  5, 12],
       [13, 14, 15,  5, 16],
       [17, 18, 19,  5, 20]])

# delete

In [40]:
np.delete(b, 1) # deletes number at position 1

array([ 1,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20])

In [41]:
np.delete(b, 1, axis =0) # deletes row at position 1

array([[ 1,  2,  3,  4],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20]])

In [42]:
np.delete(b,2,axis=1)

array([[ 1,  2,  4],
       [ 5,  6,  8],
       [ 9, 10, 12],
       [13, 14, 16],
       [17, 18, 20]])